<!--notification-->
<div class="notification">
    <p>No Message Yet..!</p>
    <!--/ notification list-->
</div>
<!--/ notification-->


<!-- <div class="notification">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, rem qui accusamus harum illo ab voluptates recusandae quod voluptate nam illum quam, autem quas et saepe optio quisquam dolorem voluptas.</p>
</div>
<div class="notification">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, rem qui accusamus harum illo ab voluptates recusandae quod voluptate nam illum quam, autem quas et saepe optio quisquam dolorem voluptas.</p>
</div> -->