<div class="container-fluid h-100 errorPage">
    <div class="row h-100 text-center">
        <div class="col-12 align-self-center">
            <div class="innerContainer">
                <img src="../../../assets/images/404_3.gif" class="img-fluid">
                <a class="btn btn-primary my-3" href="#"><i class="fas fa-arrow-circle-left"></i> Back To Home</a>
            </div>
            <!-- <h1 class="display-3">404</h1>
            <h4 class="pt-3">Oops! You're lost.</h4>
            <p class="text-muted">The page you are looking for was not found.</p> -->
        </div>
    </div>
</div>