<div class="row justify-content-between align-items-center">
    <div class="col-12">
        <div class="d-flex align-items-top justify-content-between py-2">
            <h4 class="title col-auto m-0">Current Analysis</h4>
            <div class="col">range</div>
            <div class="links">
                <a [routerLink]="['/customer/seller']" routerLinkActive="active">Seller</a>
                <a [routerLink]="['/customer/buyer']" routerLinkActive="active">Buyer</a>
            </div>
        </div>
    </div>
</div>