<div class="row justify-content-between align-items-center h-100">
    <div class="col-auto">
        <!--page title-->
        <h2 class="m-0">{{title}}</h2>
        <!--/ page title-->
    </div>

    <div class="col-auto">
        <div class="d-flex align-items-center">
            <!-- <h6 class="m-0 me-3 userRole">Admin</h6> -->
            <!-- <i type="button" class="fas fa-bell me-3 farmNdviView"></i> -->
            <!-- <i type="button" class="fas fa-layer-group me-3 farmNdviView"></i> -->
            <!-- <img type="button" src="assets/images/icons/spectral-icon-2.svg" width="20" class="img-fluid me-3 farmNdviView"> -->
            <!-- <i type="button" class="fas fa-draw-polygon me-3 farmNdviView"></i> -->
            <i type="button" class="fas fa-bell notification active me-3" title="Notification"></i>
            <!-- <div class="dropdown userDropdown">
                <div class="dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user-circle"></i></div>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <div class="px-3 userDetails">
                        <div class="d-flex align-items-center"> -->
            <!-- <img src="https://d2qp0siotla746.cloudfront.net/img/use-cases/profile-picture/template_0.jpg" class="img-fluid" width="20" height="20"> -->
            <!-- <img src="https://lh3.googleusercontent.com/-2ee5RPVPbe4/XadaiSUN-KI/AAAAAAAAAnE/2kDuYGTVo_gygYDda0HvNvd_XjV2fUNggCEwYBhgLKtQDABHVOhyod6cHK9bzSjTvQvb6zz4Qu-BXvKFG3_ckfxgv2d2EhViRrYjCB2wtu5zZ1g0bYLZH_iDqxVJSWJ3dYf0UZYwQUKotptSUeLI47ZwS5ubD8jGcVIr1mAMpSnToLe3usprnJWyz2Nbx2ey8enBIs3KBe9L0NgibunXCkBSutBXsT7Za4XT56-fxVr-Ickn9W4rwXTqtyPJQGE3hipXT2cxwB9vXCxNz3FPnbSsVaSK3Z2orVF1_IIf7N4zaOvFnGSCXLm-VFDa4reYHFZDezuqvM9u9aqFPcAWp7CHkYbSTNJfM9ESj7L2YesNHz86A8qBv2tWNu5WeDUAsJ2uYbHlH0XE3LGvilVLBrZoi2cUEFCAMqpGUbfYrSr_aqZcmoIXSvbAWMH-zMXvk5mZOpFLsDTrSVxbh9G1FIGFPi9zPYz98A80BpDupBZSIaxTY67PwywzeU6PeIwbziL9iFOUIe341cYkwxL1uMivWPpDDo0dq4hA0UjXTPNIvAeV0JYGhjVWomuvIpnuAeMKqEz0Uvl1Or4RTwjl7hzxJMKNU6UBB_3ateQu8HOAI6HIb_DDwKdcyI6hGjrSVTaFqlPwUO_5yY_hvcG7ip2itA1biMLLYy4oG/w140-h140-p/2019-10-16.jpg"
                                class="img-fluid" width="20" height="20">
                            <div class="detailsBox ms-2">
                                <span class="role">Admin</span>
                                <span class="email" title="prakash.patil@cropdata.in"><i class="fas fa-envelope-open-text me-1"></i>prakash.patil@cropdata.in</span>
                            </div>
                        </div>
                    </div>
                    <li><a class="dropdown-item md-ripples ripples-light" href="profile">Profile</a></li>
                    <li><a class="dropdown-item md-ripples ripples-light" type="button" (click)=checkLogOut()>Logout</a></li>
                </ul>
            </div> -->


            <a class="signoutBtn ripples-light" type="button" title="Signout" (click)=checkLogOut()><i class="fas fa-sign-out-alt"></i></a>
            <span class="menuBar mobileBtn ms-3">
                <i class="fas fa-bars md-ripples ripples-light" style="color: white;"></i>
            </span>
            <button class="btn btn-primary ms-3 menuBar desktopBtn md-ripples ripples-light"><i class="fas fa-bars"></i></button>
        </div>
    </div>
</div>